/no_think

Write a {{ paragraphs_min }}-{{ paragraphs_max }} paragraph prose summary of this podcast episode. Use third person, abstractive prose, 1500-2500 characters.

{% if title %}
Episode topic: {{ title }}
{% endif %}

Transcript:
{{ transcript }}
